<?xml version="1.0"?>
<robot>
	<material name="black">
		<color rgba="0 0 0 1"/>
	</material>
	
	<material name="grey">
		<color rgba="0.8 0.8 0.8 1"/>
	</material>
	
	<material name="green">
		<color rgba="0 1 0 1"/>
	</material>
	
	<material name="darkgrey">
		<color rgba="0.22 0.22 0.22 1"/>
	</material>
</robot>
