<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheelchair">
	<!-- Color are defined in materials.urdf.xacro -->

	<!-- Ultrasonic sizes -->
	<xacro:property name="sonar_size_x"		value="0.001" />
	<xacro:property name="sonar_size_y"		value="0.032" />
	<xacro:property name="sonar_size_z"		value="0.014" />
	
	<!-- Kinect size -->
	<xacro:property name="kinect_size_x"	value="0.061" />
	<xacro:property name="kinect_size_y"	value="0.280" />
	<xacro:property name="kinect_size_z"	value="0.038" />
	
	<!-- Hokuyo size -->
	<xacro:property name="hokuyo_size_x"	value="0.050" />
	<xacro:property name="hokuyo_size_y"	value="0.050" />
	<xacro:property name="hokuyo_size_z"	value="0.070" />

	<!-- Ultrasonic offset (with respect to base (e2, ec) or to upperbase) -->
	<xacro:property name="sonar_0xe0_x"		value="0.324" />	<!-- TEMP -->
	<xacro:property name="sonar_0xe0_y"   	value="-0.139" />	<!-- TEMP -->
	<xacro:property name="sonar_0xe0_z"   	value="0.075" />	<!-- TEMP -->

	<xacro:property name="sonar_0xe2_x"   	value="0.372" />	<!-- to base -->
	<xacro:property name="sonar_0xe2_y"   	value="-0.257" />	<!-- to base -->
	<xacro:property name="sonar_0xe2_z"   	value="0.048" />	<!-- to base -->

	<xacro:property name="sonar_0xe4_x"   	value="0.168" />
	<xacro:property name="sonar_0xe4_y"   	value="-0.240" />
	<xacro:property name="sonar_0xe4_z"   	value="0.075" />

	<xacro:property name="sonar_0xe6_x"   	value="-0.338" />
	<xacro:property name="sonar_0xe6_y"   	value="-0.243" />
	<xacro:property name="sonar_0xe6_z"   	value="0.080" />
	
	<xacro:property name="sonar_0xe8_x"   	value="-0.458" />
	<xacro:property name="sonar_0xe8_y"   	value="-0.126" />
	<xacro:property name="sonar_0xe8_z"   	value="0.267" />
	
	<xacro:property name="sonar_0xea_x"   	value="0.324" />	<!-- TEMP -->
	<xacro:property name="sonar_0xea_y"   	value="0.139" />	<!-- TEMP -->
	<xacro:property name="sonar_0xea_z"   	value="0.075" />	<!-- TEMP -->
	
	<xacro:property name="sonar_0xec_x"   	value="0.372" />	<!-- to base -->
	<xacro:property name="sonar_0xec_y"   	value="0.257" />	<!-- to base -->
	<xacro:property name="sonar_0xec_z"   	value="0.048" />	<!-- to base -->

	<xacro:property name="sonar_0xee_x"   	value="0.168" />
	<xacro:property name="sonar_0xee_y"   	value="0.240" />
	<xacro:property name="sonar_0xee_z"   	value="0.075" />
	
	<xacro:property name="sonar_0xf0_x"   	value="-0.338" />
	<xacro:property name="sonar_0xf0_y"   	value="0.243" />
	<xacro:property name="sonar_0xf0_z"   	value="0.080" />
	
	<xacro:property name="sonar_0xf2_x"   	value="-0.458" />
	<xacro:property name="sonar_0xf2_y"   	value="0.136" />
	<xacro:property name="sonar_0xf2_z"   	value="0.267" />
	
	<!-- Kinect offset (with respect to upperbase) -->
	<xacro:property name="kinect_offset_x"	value="0.294" />	<!-- TEMP -->
	<xacro:property name="kinect_offset_y" 	value="0.000" />	<!-- TEMP -->
	<xacro:property name="kinect_offset_z" 	value="0.105" />	<!-- TEMP -->
	
	<!-- Hokuyo offset (with respect to upperbase) -->
	<xacro:property name="hokuyo_offset_x"	value="0.272" />	<!-- TEMP -->
	<xacro:property name="hokuyo_offset_y" 	value="0.000" />	<!-- TEMP -->
	<xacro:property name="hokuyo_offset_z" 	value="0.035" />	<!-- TEMP -->

<!-- ****************** Sonar macro ***************************** -->

	<xacro:macro name="sonar" params="name parent *location">
		<joint name="${name}_joint" type="fixed">
			<parent link="${parent}_link"/>
			<child link="${name}_link"/>
			<xacro:insert_block name="location"/>
    	</joint>
		<link name="${name}_link">
			<inertial>
				<mass value="1e-6"/>
				<inertia
					ixx="1e-6" ixy="0.0" ixz="0.0"
					iyy="1e-6" iyz="0.0"
					izz="1e-6"/>
			</inertial>
			<visual>
				<geometry>
					<box size="${sonar_size_x} ${sonar_size_y} ${sonar_size_z}" />
				</geometry>
				<material name="green"/>
			</visual>

			<collision>
				<geometry>
					<box size="${sonar_size_x} ${sonar_size_y} ${sonar_size_z}" />
				</geometry>
			</collision>
		</link>
	</xacro:macro>


<!-- ****************** Sonars ***************************** -->

	<!-- Sonar 0xe0 -->
	<xacro:sonar name="sonar_0xe0" parent="upperbase" >
		<origin xyz="${sonar_0xe0_x} ${sonar_0xe0_y} ${sonar_0xe0_z}" />
	</xacro:sonar>

	<!-- Sonar 0xe2 -->
	<xacro:sonar name="sonar_0xe2" parent="base" >
		<origin xyz="${sonar_0xe2_x} ${sonar_0xe2_y} ${sonar_0xe2_z}" rpy="0 ${-M_PI/4} ${-M_PI/4}"/>
	</xacro:sonar>
	
	<!-- Sonar 0xe4 -->
	<xacro:sonar name="sonar_0xe4" parent="upperbase" >
		<origin xyz="${sonar_0xe4_x} ${sonar_0xe4_y} ${sonar_0xe4_z}" rpy="0 0 ${-M_PI/2}" />
	</xacro:sonar>
	
	<!-- Sonar 0xe6 -->
	<xacro:sonar name="sonar_0xe6" parent="upperbase" >
		<origin xyz="${sonar_0xe6_x} ${sonar_0xe6_y} ${sonar_0xe6_z}" rpy="0 0 ${-M_PI/2}"/>
	</xacro:sonar>

	<!-- Sonar 0xe8 -->
	<xacro:sonar name="sonar_0xe8" parent="upperbase" >
		<origin xyz="${sonar_0xe8_x} ${sonar_0xe8_y} ${sonar_0xe8_z}" rpy="0 0 ${-M_PI}"/>
	</xacro:sonar>
	
	<!-- Sonar 0xea -->
	<xacro:sonar name="sonar_0xea" parent="upperbase" >
		<origin xyz="${sonar_0xea_x} ${sonar_0xea_y} ${sonar_0xea_z}" />
	</xacro:sonar>
	
	<!-- Sonar 0xec -->
	<xacro:sonar name="sonar_0xec" parent="base" >
		<origin xyz="${sonar_0xec_x} ${sonar_0xec_y} ${sonar_0xec_z}" rpy="0 ${-M_PI/4} ${M_PI/4}"/>
	</xacro:sonar>
	
	<!-- Sonar 0xee -->
	<xacro:sonar name="sonar_0xee" parent="upperbase" >
		<origin xyz="${sonar_0xee_x} ${sonar_0xee_y} ${sonar_0xee_z}" rpy="0 0 ${M_PI/2}"/>
	</xacro:sonar>

	<!-- Sonar 0xf0 -->
	<xacro:sonar name="sonar_0xf0" parent="upperbase" >
		<origin xyz="${sonar_0xf0_x} ${sonar_0xf0_y} ${sonar_0xf0_z}" rpy="0 0 ${M_PI/2}"/>
	</xacro:sonar>
	
	<!-- Sonar 0xf2 -->
	<xacro:sonar name="sonar_0xf2" parent="upperbase" >
		<origin xyz="${sonar_0xf2_x} ${sonar_0xf2_y} ${sonar_0xf2_z}" rpy="0 0 ${-M_PI}"/>
	</xacro:sonar>

<!-- ****************** Kinect ***************************** -->
	<!-- Kinect - Link -->
	<link name="camera_link">
		<inertial>
			<mass value="0.5"/>
			<inertia
				ixx="1e-6" ixy="0.0" ixz="0.0"
				iyy="1e-6" iyz="0.0"
				izz="1e-6"/>
		</inertial>
		<visual>
			<geometry>
				<box size="${kinect_size_x} ${kinect_size_y} ${kinect_size_z}" />
			</geometry>
			<material name="green"/>
		</visual>
		<collision>
			<geometry>
				<box size="${kinect_size_x} ${kinect_size_y} ${kinect_size_z}" />
			</geometry>
		</collision>
	</link>
	<!-- Kinect - Joint -->
	<joint name="camera_joint" type="fixed">
		<parent link="upperbase_link"/>
		<child link="camera_link"/>
		<origin xyz="${kinect_offset_x} ${kinect_offset_y} ${kinect_offset_z}"/>
    </joint>

<!-- ****************** Hokuyo ***************************** -->
	<!-- Hokuyo - Link -->
	<link name="hokuyo_link">
		<inertial>
			<mass value="0.5"/>
			<inertia
				ixx="1e-6" ixy="0.0" ixz="0.0"
				iyy="1e-6" iyz="0.0"
				izz="1e-6"/>
		</inertial>
		<visual>
			<geometry>
				<box size="${hokuyo_size_x} ${hokuyo_size_y} ${hokuyo_size_z}" />
			</geometry>
			<material name="green"/>
		</visual>
		<collision>
			<geometry>
				<box size="${hokuyo_size_x} ${hokuyo_size_y} ${hokuyo_size_z}" />
			</geometry>
		</collision>
	</link>
	<!-- Hokuyo - Joint -->
	<joint name="hokuyo_joint" type="fixed">
		<parent link="upperbase_link"/>
		<child link="hokuyo_link"/>
		<origin xyz="${hokuyo_offset_x} ${hokuyo_offset_y} ${hokuyo_offset_z}"/>
    </joint>

</robot>

