<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheelchair">

	<xacro:include filename="$(find cnbiros_wheelchair_description)/urdf/materials.urdf.xacro" />
	<xacro:include filename="$(find cnbiros_wheelchair_description)/urdf/base.urdf.xacro" />
	<xacro:include filename="$(find cnbiros_wheelchair_description)/urdf/seat.urdf.xacro" />


<!-- ****************** Sonars ***************************** -->
	<!-- Sonar 0xe0 - Link -->
	<link name="sonar_0xe0_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xe0 - Joint -->
	<joint name="sonar_0xe0_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xe0_link"/>
		<origin xyz="0.365 -0.10 -0.05"/>
    </joint>

	<!-- Sonar 0xe2 - Link -->
	<link name="sonar_0xe2_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xe2 - Joint -->
	<joint name="sonar_0xe2_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xe2_link"/>
		<origin xyz="0.385 -0.265 0.01" rpy="0 0 0"/>
    </joint>

	<!-- Sonar 0xe4 - Link -->
	<link name="sonar_0xe4_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xe4 - Joint -->
	<joint name="sonar_0xe4_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xe4_link"/>
		<origin xyz="-0.165 -0.265 0.205" rpy="0 0 -1.5705"/>
    </joint>

	<!-- Sonar 0xe6 - Link -->
	<link name="sonar_0xe6_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xe6 - Joint -->
	<joint name="sonar_0xe6_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xe6_link"/>
		<origin xyz="-0.513 -0.265 0.2455" rpy="0 0 -1.5705"/>
    </joint>

	<!-- Sonar 0xe8 - Link -->
	<link name="sonar_0xe8_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xe8 - Joint -->
	<joint name="sonar_0xe8_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xe8_link"/>
		<origin xyz="-0.62 -0.238 0.3975" rpy="0 0 -3.141"/>
    </joint>

	<!-- Sonar 0xea - Link -->
	<link name="sonar_0xea_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xea - Joint -->
	<joint name="sonar_0xea_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xea_link"/>
		<origin xyz="0.365 0.10 -0.05"/>
    </joint>

	<!-- Sonar 0xec - Link -->
	<link name="sonar_0xec_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xec - Joint -->
	<joint name="sonar_0xec_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xec_link"/>
		<origin xyz="0.385 0.265 0.01" rpy="0 0 0"/>
    </joint>

	<!-- Sonar 0xee - Link -->
	<link name="sonar_0xee_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xee - Joint -->
	<joint name="sonar_0xee_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xee_link"/>
		<origin xyz="-0.165 0.265 0.205" rpy="0 0 1.5705"/>
    </joint>

	<!-- Sonar 0xf0 - Link -->
	<link name="sonar_0xf0_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xf0 - Joint -->
	<joint name="sonar_0xf0_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xf0_link"/>
		<origin xyz="-0.513 0.265 0.2455" rpy="0 0 1.5705"/>
    </joint>

	<!-- Sonar 0xf2 - Link -->
	<link name="sonar_0xf2_link">
		<visual>
			<geometry>
				<box size="0.012 0.032 0.015" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Sonar 0xf2 - Joint -->
	<joint name="sonar_0xf2_joint" type="fixed">
		<parent link="base_link"/>
		<child link="sonar_0xf2_link"/>
		<origin xyz="-0.62 0.238 0.3975" rpy="0 0 -3.141"/>
    </joint>

<!-- ****************** Kinect ***************************** -->
	<!-- Kinect - Link -->
	<link name="camera_link">
		<visual>
			<geometry>
				<box size="0.12 0.32 0.15" />
			</geometry>
			<material name="green"/>
		</visual>
	</link>
	<!-- Kinect - Joint -->
	<joint name="camera_joint" type="fixed">
		<parent link="base_link"/>
		<child link="camera_link"/>
		<origin xyz="0.565 -0.00 0.2975"/>
    </joint>
</robot>
