<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheelchair">

	<!-- Common and materials -->
	<xacro:include filename="$(find cnbiros_wheelchair_description)/urdf/materials.urdf.xacro" />

	<!-- Base urdf -->
	<xacro:include filename="$(find cnbiros_wheelchair_description)/urdf/base_NEW.urdf.xacro" />

</robot>
